<<<<<<< HEAD
.btn{
    background-color: skyblue;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
=======
body{
    background: skyblue;
    text-align: center;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
.form-wrapper{
    background: #f2f2f2;
    margin: 0 auto;
    text-align: left;
>>>>>>> 3cc83d8acaec73cd3b8fbd825de98869e9acb06e
}