body{margin: 0px;}
#navbar{    position: fixed;    top: 0;    width: 100%;    background-color: green; height: 40px;    text-align: center;}
#navbar ul{    padding: 10px;    margin: 0 auto;}
#navbar ul li{display: inline;height: 100%;}
#navbar a{color:#ffffff; text-decoration: none; background-color: transparent;padding: 10px 5px;}
#navbar a:hover{background-color: lawngreen;}


#welcome-section{  height: 100vh;   background-color: #1f7486; text-align: center;    }
#welcome-section h1,#welcome-section a{color: #ffffff;text-decoration: none;}
#welcome-section a:hover{color: green;}

#projects{    text-align: justify;    width: 98%; padding: 2% 1%;}
#projects h1{text-align: center;padding: 10px;}
.project-tile { width: 20%;padding: 5px; border-radius: 5px; background-color: #ffffff; height: 350px; box-shadow: #000000 0px 0px 5px;}
.project-tile img {width: 100%;}
