
body{
    background: skyblue;
    text-align: center;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
.form-wrapper{
    background: #f2f2f2;
    margin: 0 auto;
    text-align: left;
}
.form-wrapper table tr td{
    padding:15px 0px;
}
.form-wrapper table tr td:nth-child(1){
    text-align: right;
}

.btn{
    background-color:darkblue;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    float: right;
}
.btn:hover{
    color: darkblue;
    background-color: white;
}